Flask>=2.0
pymongo>=4.0
werkzeug>=2.0
python-dotenv>=1.0
flask-jwt-extended>=4.5.0
flask-cors>=4.0.0
python-doctr[torch]>=0.8.1
torch>=2.1.0
opencv-python-headless>=4.9.0.80
Pillow>=10.0.0
numpy>=1.24.0
